<div class='confirmation-cont'[style.display]="startChall">
  <div class='confirmation'>
    <div class="conf-text">Sei sicuro di voler vendere {{name}}</div>
      <button class="btn-c darkblue" (click)=' startChall = "none"'>Annulla</button>
      <button class="btn-c blue" (click)='sell()'>Si</button>
</div>
</div>
<div class="toast-player" [style.display]="toastDisplay">{{toastText}}</div>
<ion-header (swiperight)="swipe()">
    <app-header title="MERCATO" ></app-header>
  </ion-header>

  <ion-content (swiperight)="swipe()">
        <ion-row>
          <ion-col routerLink='/tabs/market/buy' routerDirection="root" >
            ACQUISTA
          </ion-col>
          <ion-col class="active">
            VENDI
          </ion-col>
        </ion-row>
        <div style="display: block; position: relative;" >
        <div class="chall-item" *ngFor='let player of datas' (click)='sellprompt(player)'>
          <div class="chall-img" ><img src='{{player.img}}'></div>
          <div class="chall-text-top">
            <div class="player-name" >{{player.name}}</div>
            
          </div>
            <div class="chall-text" >Team</div>
            <div class="team-name" >{{player.team}}</div>
          </div>
        </div>
  </ion-content>

