<ion-menu contentId='my-content'side="start" type="push">
  <ion-header>
      <ion-title>MENU</ion-title>
  </ion-header>
  <ion-content>
      <ion-list>
          <ion-item>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="settings" slot="start" (click)='ci()'></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id='my-content'></ion-router-outlet>